/**
 * @author Jrain Lau
 * @email jrainlau@163.com
 * @date 2016-05-03
 */
/*
 * Init
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}
.elf {
  height: 100%;
}
.elf code {
  padding: 0 .5rem;
  background: #eee;
  color: #d9534f;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.elf code pre {
  color: #333;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
/*
 * Grid
 */
.elf .row-sm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.elf .row-sm.inside {
  margin: 0;
  padding: 0;
}
.elf .row-sm.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.elf .row-sm.centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elf .row-sm.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.elf .row-sm.vertical-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 568px) {
  .elf .row-sm {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .elf .row-sm .width-1,
  .elf .row-sm .width-2,
  .elf .row-sm .width-3,
  .elf .row-sm .width-4,
  .elf .row-sm .width-5,
  .elf .row-sm .width-6,
  .elf .row-sm .width-7,
  .elf .row-sm .width-8,
  .elf .row-sm .width-9,
  .elf .row-sm .width-10,
  .elf .row-sm .width-11 {
    box-sizing: border-box;
    width: 100%;
    margin-right: 1rem;
    margin-right: 0;
  }
  .elf .row-sm .width-1:last-child,
  .elf .row-sm .width-2:last-child,
  .elf .row-sm .width-3:last-child,
  .elf .row-sm .width-4:last-child,
  .elf .row-sm .width-5:last-child,
  .elf .row-sm .width-6:last-child,
  .elf .row-sm .width-7:last-child,
  .elf .row-sm .width-8:last-child,
  .elf .row-sm .width-9:last-child,
  .elf .row-sm .width-10:last-child,
  .elf .row-sm .width-11:last-child {
    margin-right: 0;
  }
  .elf .row-sm.between,
  .elf .row-sm.centered,
  .elf .row-sm.around,
  .elf .row-sm.vertical-center {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.elf .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.elf .row.inside {
  margin: 0;
  padding: 0;
}
.elf .row.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.elf .row.centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elf .row.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.elf .row.vertical-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .elf .row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .elf .row .width-1,
  .elf .row .width-2,
  .elf .row .width-3,
  .elf .row .width-4,
  .elf .row .width-5,
  .elf .row .width-6,
  .elf .row .width-7,
  .elf .row .width-8,
  .elf .row .width-9,
  .elf .row .width-10,
  .elf .row .width-11 {
    box-sizing: border-box;
    width: 100%;
    margin-right: 1rem;
    margin-right: 0;
  }
  .elf .row .width-1:last-child,
  .elf .row .width-2:last-child,
  .elf .row .width-3:last-child,
  .elf .row .width-4:last-child,
  .elf .row .width-5:last-child,
  .elf .row .width-6:last-child,
  .elf .row .width-7:last-child,
  .elf .row .width-8:last-child,
  .elf .row .width-9:last-child,
  .elf .row .width-10:last-child,
  .elf .row .width-11:last-child {
    margin-right: 0;
  }
  .elf .row.between,
  .elf .row.centered,
  .elf .row.around,
  .elf .row.vertical-center {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.elf .row-m {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.elf .row-m.inside {
  margin: 0;
  padding: 0;
}
.elf .row-m.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.elf .row-m.centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elf .row-m.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.elf .row-m.vertical-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .elf .row-m {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .elf .row-m .width-1,
  .elf .row-m .width-2,
  .elf .row-m .width-3,
  .elf .row-m .width-4,
  .elf .row-m .width-5,
  .elf .row-m .width-6,
  .elf .row-m .width-7,
  .elf .row-m .width-8,
  .elf .row-m .width-9,
  .elf .row-m .width-10,
  .elf .row-m .width-11 {
    box-sizing: border-box;
    width: 100%;
    margin-right: 1rem;
    margin-right: 0;
  }
  .elf .row-m .width-1:last-child,
  .elf .row-m .width-2:last-child,
  .elf .row-m .width-3:last-child,
  .elf .row-m .width-4:last-child,
  .elf .row-m .width-5:last-child,
  .elf .row-m .width-6:last-child,
  .elf .row-m .width-7:last-child,
  .elf .row-m .width-8:last-child,
  .elf .row-m .width-9:last-child,
  .elf .row-m .width-10:last-child,
  .elf .row-m .width-11:last-child {
    margin-right: 0;
  }
  .elf .row-m.between,
  .elf .row-m.centered,
  .elf .row-m.around,
  .elf .row-m.vertical-center {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.elf .row-l {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.elf .row-l.inside {
  margin: 0;
  padding: 0;
}
.elf .row-l.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.elf .row-l.centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elf .row-l.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.elf .row-l.vertical-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .elf .row-l {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .elf .row-l .width-1,
  .elf .row-l .width-2,
  .elf .row-l .width-3,
  .elf .row-l .width-4,
  .elf .row-l .width-5,
  .elf .row-l .width-6,
  .elf .row-l .width-7,
  .elf .row-l .width-8,
  .elf .row-l .width-9,
  .elf .row-l .width-10,
  .elf .row-l .width-11 {
    box-sizing: border-box;
    width: 100%;
    margin-right: 1rem;
    margin-right: 0;
  }
  .elf .row-l .width-1:last-child,
  .elf .row-l .width-2:last-child,
  .elf .row-l .width-3:last-child,
  .elf .row-l .width-4:last-child,
  .elf .row-l .width-5:last-child,
  .elf .row-l .width-6:last-child,
  .elf .row-l .width-7:last-child,
  .elf .row-l .width-8:last-child,
  .elf .row-l .width-9:last-child,
  .elf .row-l .width-10:last-child,
  .elf .row-l .width-11:last-child {
    margin-right: 0;
  }
  .elf .row-l.between,
  .elf .row-l.centered,
  .elf .row-l.around,
  .elf .row-l.vertical-center {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.elf .width-1,
.elf .width-flex-1 {
  box-sizing: border-box;
  width: 8.33333333%;
  margin-right: 1rem;
}
.elf .width-1:last-child,
.elf .width-flex-1:last-child {
  margin-right: 0;
}
.elf .width-2,
.elf .width-flex-2 {
  box-sizing: border-box;
  width: 16.66666667%;
  margin-right: 1rem;
}
.elf .width-2:last-child,
.elf .width-flex-2:last-child {
  margin-right: 0;
}
.elf .width-3,
.elf .width-flex-3 {
  box-sizing: border-box;
  width: 25%;
  margin-right: 1rem;
}
.elf .width-3:last-child,
.elf .width-flex-3:last-child {
  margin-right: 0;
}
.elf .width-4,
.elf .width-flex-4 {
  box-sizing: border-box;
  width: 33.33333333%;
  margin-right: 1rem;
}
.elf .width-4:last-child,
.elf .width-flex-4:last-child {
  margin-right: 0;
}
.elf .width-5,
.elf .width-flex-5 {
  box-sizing: border-box;
  width: 41.66666667%;
  margin-right: 1rem;
}
.elf .width-5:last-child,
.elf .width-flex-5:last-child {
  margin-right: 0;
}
.elf .width-6,
.elf .width-flex-6 {
  box-sizing: border-box;
  width: 50%;
  margin-right: 1rem;
}
.elf .width-6:last-child,
.elf .width-flex-6:last-child {
  margin-right: 0;
}
.elf .width-7,
.elf .width-flex-7 {
  box-sizing: border-box;
  width: 58.33333333%;
  margin-right: 1rem;
}
.elf .width-7:last-child,
.elf .width-flex-7:last-child {
  margin-right: 0;
}
.elf .width-8,
.elf .width-flex-8 {
  box-sizing: border-box;
  width: 66.66666667%;
  margin-right: 1rem;
}
.elf .width-8:last-child,
.elf .width-flex-8:last-child {
  margin-right: 0;
}
.elf .width-9,
.elf .width-flex-9 {
  box-sizing: border-box;
  width: 75%;
  margin-right: 1rem;
}
.elf .width-9:last-child,
.elf .width-flex-9:last-child {
  margin-right: 0;
}
.elf .width-10,
.elf .width-flex-10 {
  box-sizing: border-box;
  width: 83.33333333%;
  margin-right: 1rem;
}
.elf .width-10:last-child,
.elf .width-flex-10:last-child {
  margin-right: 0;
}
.elf .width-11,
.elf .width-flex-11 {
  box-sizing: border-box;
  width: 91.66666667%;
  margin-right: 1rem;
}
.elf .width-11:last-child,
.elf .width-flex-11:last-child {
  margin-right: 0;
}
.elf .width-12,
.elf .width-flex-12 {
  box-sizing: border-box;
  width: 100%;
  margin-right: 1rem;
}
.elf .width-12:last-child,
.elf .width-flex-12:last-child {
  margin-right: 0;
}
.elf .offset-1 {
  margin-left: 8.33333333%;
}
@media (max-width: 768px) {
  .elf .offset-1 {
    margin-left: 0;
  }
}
.elf .offset-2 {
  margin-left: 16.66666667%;
}
@media (max-width: 768px) {
  .elf .offset-2 {
    margin-left: 0;
  }
}
.elf .offset-3 {
  margin-left: 25%;
}
@media (max-width: 768px) {
  .elf .offset-3 {
    margin-left: 0;
  }
}
.elf .offset-4 {
  margin-left: 33.33333333%;
}
@media (max-width: 768px) {
  .elf .offset-4 {
    margin-left: 0;
  }
}
.elf .offset-5 {
  margin-left: 41.66666667%;
}
@media (max-width: 768px) {
  .elf .offset-5 {
    margin-left: 0;
  }
}
.elf .offset-6 {
  margin-left: 50%;
}
@media (max-width: 768px) {
  .elf .offset-6 {
    margin-left: 0;
  }
}
.elf .offset-7 {
  margin-left: 58.33333333%;
}
@media (max-width: 768px) {
  .elf .offset-7 {
    margin-left: 0;
  }
}
.elf .offset-8 {
  margin-left: 66.66666667%;
}
@media (max-width: 768px) {
  .elf .offset-8 {
    margin-left: 0;
  }
}
.elf .offset-9 {
  margin-left: 75%;
}
@media (max-width: 768px) {
  .elf .offset-9 {
    margin-left: 0;
  }
}
.elf .offset-10 {
  margin-left: 83.33333333%;
}
@media (max-width: 768px) {
  .elf .offset-10 {
    margin-left: 0;
  }
}
.elf .offset-11 {
  margin-left: 91.66666667%;
}
@media (max-width: 768px) {
  .elf .offset-11 {
    margin-left: 0;
  }
}
.elf .offset-12 {
  margin-left: 100%;
}
@media (max-width: 768px) {
  .elf .offset-12 {
    margin-left: 0;
  }
}
.elf .width-fixed {
  box-sizing: border-box;
  -webkit-flex: 0 0 20rem;
  -ms-flex: 0 0 20rem;
  flex: 0 0 20rem;
}
@media (max-width: 768px) {
  .elf .width-fixed {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    width: 100%;
  }
}
/*
 * Blocks
 */
.elf .blocks-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elf .blocks-2 > div,
.elf .blocks-2 > p,
.elf .blocks-2 > h1,
.elf .blocks-2 > h2,
.elf .blocks-2 > h3,
.elf .blocks-2 > h4,
.elf .blocks-2 > h5,
.elf .blocks-2 > h6,
.elf .blocks-2 > section,
.elf .blocks-2 > aside,
.elf .blocks-2 > article {
  box-sizing: border-box;
  padding: 1rem;
}
.elf .blocks-2 > div {
  width: 50%;
}
.elf .blocks-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elf .blocks-3 > div,
.elf .blocks-3 > p,
.elf .blocks-3 > h1,
.elf .blocks-3 > h2,
.elf .blocks-3 > h3,
.elf .blocks-3 > h4,
.elf .blocks-3 > h5,
.elf .blocks-3 > h6,
.elf .blocks-3 > section,
.elf .blocks-3 > aside,
.elf .blocks-3 > article {
  box-sizing: border-box;
  padding: 1rem;
}
.elf .blocks-3 > div {
  width: 33.3%;
}
.elf .blocks-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elf .blocks-4 > div,
.elf .blocks-4 > p,
.elf .blocks-4 > h1,
.elf .blocks-4 > h2,
.elf .blocks-4 > h3,
.elf .blocks-4 > h4,
.elf .blocks-4 > h5,
.elf .blocks-4 > h6,
.elf .blocks-4 > section,
.elf .blocks-4 > aside,
.elf .blocks-4 > article {
  box-sizing: border-box;
  padding: 1rem;
}
.elf .blocks-4 > div {
  width: 25%;
}
.elf .blocks-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elf .blocks-5 > div,
.elf .blocks-5 > p,
.elf .blocks-5 > h1,
.elf .blocks-5 > h2,
.elf .blocks-5 > h3,
.elf .blocks-5 > h4,
.elf .blocks-5 > h5,
.elf .blocks-5 > h6,
.elf .blocks-5 > section,
.elf .blocks-5 > aside,
.elf .blocks-5 > article {
  box-sizing: border-box;
  padding: 1rem;
}
.elf .blocks-5 > div {
  width: 20%;
}
.elf .blocks-6 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elf .blocks-6 > div,
.elf .blocks-6 > p,
.elf .blocks-6 > h1,
.elf .blocks-6 > h2,
.elf .blocks-6 > h3,
.elf .blocks-6 > h4,
.elf .blocks-6 > h5,
.elf .blocks-6 > h6,
.elf .blocks-6 > section,
.elf .blocks-6 > aside,
.elf .blocks-6 > article {
  box-sizing: border-box;
  padding: 1rem;
}
.elf .blocks-6 > div {
  width: 16.6%;
}
@media (max-width: 768px) {
  .elf .blocks-2 {
    display: block;
  }
  .elf .blocks-2 > div {
    width: 100%;
  }
  .elf .blocks-3 {
    display: block;
  }
  .elf .blocks-3 > div {
    width: 100%;
  }
  .elf .blocks-4 {
    display: block;
  }
  .elf .blocks-4 > div {
    width: 100%;
  }
  .elf .blocks-5 {
    display: block;
  }
  .elf .blocks-5 > div {
    width: 100%;
  }
  .elf .blocks-6 {
    display: block;
  }
  .elf .blocks-6 > div {
    width: 100%;
  }
}
/*
 * Tables
 */
.elf table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
}
.elf table caption {
  text-transform: uppercase;
  padding: 0;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
}
.elf table th,
.elf table td {
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.2rem;
  padding-bottom: 15px;
  text-align: left;
}
.elf table th:first-child,
.elf table td:first-child {
  padding-left: 0;
}
.elf table th:last-child,
.elf table td:last-child {
  padding-right: 0;
}
.elf table tfoot th,
.elf table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}
.elf table.table-bordered {
  margin-top: -1px;
}
.elf table.table-bordered td,
.elf table.table-bordered th {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.elf table.table-bordered caption {
  padding-left: 1.2rem;
}
.elf table.table-bordered td:first-child,
.elf table.table-stripped td:first-child,
.elf table.table-bordered th:first-child,
.elf table.table-stripped th:first-child {
  padding-left: 1.2rem;
}
.elf table.table-bordered td:last-child,
.elf table.table-stripped td:last-child,
.elf table.table-bordered th:last-child,
.elf table.table-stripped th:last-child {
  padding-right: 1.2rem;
}
.elf table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
@media (max-width: 768px) {
  .elf table.table-responsive {
    border: 0;
  }
  .elf table.table-responsive thead {
    display: none;
  }
  .elf table.table-responsive tr {
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  .elf table.table-responsive td,
  .elf table.table-responsive td:last-child,
  .elf table.table-responsive td:first-child {
    display: block;
    text-align: right;
    padding: 1rem;
  }
  .elf table.table-responsive.table-flat td {
    padding: 0;
  }
  .elf table.table-responsive.table-bordered td:last-child,
  .elf table.table-responsive td:last-child {
    border-bottom: 0;
  }
  .elf table.table-responsive td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
  }
}
/*
 * Buttons
 */
.elf .btn,
.elf button {
  display: inline-block;
  padding: 12px 18px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background: #e0e0e0;
  box-sizing: border-box;
  color: #333;
  font-size: 13px;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 300ms ease;
}
.elf .btn:hover,
.elf button:hover {
  background-color: #ededed;
}
.elf .btn:active,
.elf button:active {
  background-color: #d3d3d3;
}
.elf .btn::-moz-focus-inner,
.elf button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.elf .btn[disabled],
.elf button[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.4;
}
.elf .btn.round,
.elf button.round {
  border-radius: 100px;
}
.elf .btn.small,
.elf button.small {
  padding: 9px 14px;
}
.elf .btn.small.thick,
.elf button.small.thick {
  padding: 7px 12px;
}
.elf .btn.large,
.elf button.large {
  padding: 14px 26px;
  font-size: 16px;
}
.elf .btn.large.thick,
.elf button.large.thick {
  padding: 12px 24px;
}
.elf .btn.ghost-light,
.elf button.ghost-light {
  background: none;
  color: #fff;
}
.elf .btn.ghost-light:hover,
.elf button.ghost-light:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #333;
}
.elf .btn.ghost-light:active,
.elf button.ghost-light:active {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #333;
}
.elf .btn.ghost-dark,
.elf button.ghost-dark {
  background: none;
  color: #333;
  border-color: #333;
}
.elf .btn.ghost-dark:hover,
.elf button.ghost-dark:hover {
  background-color: #4d4d4d;
  border-color: #404040;
  color: #fff;
}
.elf .btn.ghost-dark:active,
.elf button.ghost-dark:active {
  background-color: #262626;
  border-color: #262626;
  color: #fff;
}
.elf .btn.thick,
.elf button.thick {
  padding: 10px 16px;
  border-width: 3px;
  font-weight: bold;
}
.btn-group {
  display: inline-block;
  vertical-align: bottom;
}
.btn-group:after {
  content: "";
  display: block;
  clear: both;
}
.btn-group .btn,
.btn-group button {
  float: left;
  margin-left: -1px;
  border-radius: 0;
}
.btn-group .btn:first-child,
.btn-group button:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child,
.btn-group button:last-child {
  border-radius: 0 2px 2px 0;
}
/*
 * Tools
 */
.elf .curtain {
  box-sizing: border-box;
  display: block;
  min-height: 100%;
}
.elf .curtain.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
 * Pictures
 */
.elf .pics-contain {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.elf .pics-contain img {
  object-fit: contain;
  -o-object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.elf .pics-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elf .pics-center img {
  object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
  height: 100%;
}
/*
 * Forms
 */
.elf form {
  margin-bottom: 2rem;
}
.elf select[multiple="multiple"],
.elf textarea {
  width: 100%;
}
.elf input[type="radio"]:focus,
.elf input[type="checkbox"]:focus {
  outline: none;
}
.elf input[type="email"],
.elf input[type="number"],
.elf input[type="search"],
.elf input[type="text"],
.elf input[type="tel"],
.elf input[type="url"],
.elf input[type="password"],
.elf textarea,
.elf select {
  box-sizing: border-box;
  box-shadow: none;
  padding: 12px 18px;
  margin-bottom: 0;
  outline: none;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 1.2rem;
  color: #333;
  transition: border 500ms ease;
}
.elf input[type="email"][disabled],
.elf input[type="number"][disabled],
.elf input[type="search"][disabled],
.elf input[type="text"][disabled],
.elf input[type="tel"][disabled],
.elf input[type="url"][disabled],
.elf input[type="password"][disabled],
.elf textarea[disabled],
.elf select[disabled] {
  resize: none;
  opacity: .4;
  cursor: not-allowed;
}
.elf textarea {
  font-size: 13px;
}
.elf textarea:focus,
.elf select:focus,
.elf input[type="email"]:focus,
.elf input[type="number"]:focus,
.elf input[type="search"]:focus,
.elf input[type="text"]:focus,
.elf input[type="tel"]:focus,
.elf input[type="url"]:focus,
.elf input[type="password"]:focus {
  outline: none;
  border: 1px solid #333;
}
.elf textarea.round,
.elf select.round,
.elf input[type="email"].round,
.elf input[type="number"].round,
.elf input[type="search"].round,
.elf input[type="text"].round,
.elf input[type="tel"].round,
.elf input[type="url"].round,
.elf input[type="password"].round {
  border-radius: 100px;
}
.elf textarea.thick,
.elf select.thick,
.elf input[type="email"].thick,
.elf input[type="number"].thick,
.elf input[type="search"].thick,
.elf input[type="text"].thick,
.elf input[type="tel"].thick,
.elf input[type="url"].thick,
.elf input[type="password"].thick {
  padding: 10px 16px;
  border-width: 3px;
}
.elf textarea.line,
.elf select.line,
.elf input[type="email"].line,
.elf input[type="number"].line,
.elf input[type="search"].line,
.elf input[type="text"].line,
.elf input[type="tel"].line,
.elf input[type="url"].line,
.elf input[type="password"].line {
  padding: 9px 14px;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #cccccc;
}
.elf textarea.line:focus,
.elf select.line:focus,
.elf input[type="email"].line:focus,
.elf input[type="number"].line:focus,
.elf input[type="search"].line:focus,
.elf input[type="text"].line:focus,
.elf input[type="tel"].line:focus,
.elf input[type="url"].line:focus,
.elf input[type="password"].line:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
.elf textarea.ghost-light,
.elf select.ghost-light,
.elf input[type="email"].ghost-light,
.elf input[type="number"].ghost-light,
.elf input[type="search"].ghost-light,
.elf input[type="text"].ghost-light,
.elf input[type="tel"].ghost-light,
.elf input[type="url"].ghost-light,
.elf input[type="password"].ghost-light {
  background: none;
  border-color: #808080;
  color: #fff;
}
.elf textarea.ghost-light:focus,
.elf select.ghost-light:focus,
.elf input[type="email"].ghost-light:focus,
.elf input[type="number"].ghost-light:focus,
.elf input[type="search"].ghost-light:focus,
.elf input[type="text"].ghost-light:focus,
.elf input[type="tel"].ghost-light:focus,
.elf input[type="url"].ghost-light:focus,
.elf input[type="password"].ghost-light:focus {
  outline: none;
  border-color: #fff;
}
.elf fieldset {
  padding: 2.5rem;
  margin-bottom: 2rem;
  border: 1px solid #808080;
  border-radius: 4px;
}
.elf fieldset *:last-child {
  margin-bottom: 0 !important;
}
.elf legend {
  position: relative;
  top: 2px;
  padding: 0 1em;
  margin-left: -1em;
  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.elf .forms section {
  display: block;
}
.elf .forms section,
.elf .forms p {
  margin-bottom: 2rem;
}
.elf .forms textarea,
.elf .forms select,
.elf .forms input[type="email"],
.elf .forms input[type="number"],
.elf .forms input[type="search"],
.elf .forms input[type="text"],
.elf .forms input[type="tel"],
.elf .forms input[type="url"],
.elf .forms input[type="password"] {
  display: block;
  width: 100%;
}
.elf .forms label {
  display: block;
  font-size: 1.2rem;
}
.elf .forms label.checkbox {
  text-transform: none;
  font-weight: normal;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.elf .forms .label-top {
  padding-top: 2rem;
}
.elf .forms .checkbox-list {
  display: block;
}
.elf .forms .checkbox-list label {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1.5rem;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  text-transform: none;
}
.elf .forms .checkbox-list-vertical .checkbox {
  margin-bottom: .5rem;
}
.elf .forms .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .elf .forms .label-top {
    padding-top: 0;
  }
}
.elf .desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: .5rem;
  font-weight: normal;
  text-transform: none;
}
.elf ul.desc {
  margin-bottom: .5rem;
}
.elf span.desc {
  margin-left: .3rem;
  line-height: .5rem;
}
.elf .error,
.elf .success {
  display: inline-block;
  font-weight: normal;
  text-transform: none;
}
.elf span.error,
.elf span.success {
  margin-left: .4rem;
}
.elf input.input-error,
.elf textarea.input-error,
.elf select.input-error,
.elf .input-error {
  margin-top: -1px;
  background: none;
  background-color: rgba(217, 83, 79, 0.1);
  border: 1px solid #e27c79;
}
.elf input.input-error:focus,
.elf textarea.input-error:focus,
.elf select.input-error:focus,
.elf .input-error:focus {
  border: 1px solid #c9302c;
}
.elf input.input-success,
.elf textarea.input-success,
.elf select.input-success,
.elf .input-success {
  margin-top: -1px;
  background: none;
  background-color: rgba(92, 184, 92, 0.1);
  border: 1px solid #80c780;
}
.elf input.input-success:focus,
.elf textarea.input-success:focus,
.elf select.input-success:focus,
.elf .input-success:focus {
  border: 1px solid #449d44;
}
.elf input[type="email"].large,
.elf input[type="number"].large,
.elf input[type="search"].large,
.elf input[type="text"].large,
.elf input[type="tel"].large,
.elf input[type="url"].large,
.elf input[type="password"].large,
.elf select.large {
  font-size: 1.5rem;
  padding: 14px 26px;
}
.elf input[type="email"].small,
.elf input[type="number"].small,
.elf input[type="search"].small,
.elf input[type="text"].small,
.elf input[type="tel"].small,
.elf input[type="url"].small,
.elf input[type="password"].small,
.elf select.small {
  font-size: .8rem;
  padding: 9px 14px;
}
.elf .input-append,
.elf .input-prepend {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.elf .input-append input,
.elf .input-prepend input {
  flex: 1;
  margin-bottom: 0 !important;
}
.elf .input-append span,
.elf .input-prepend span {
  -webkit-flex-shrink: 0;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: .8rem 1rem;
  background-color: #e0e0e0;
  font-weight: normal;
  color: #333;
  font-size: 1.2rem;
  white-space: nowrap;
}
.elf .input-append span {
  position: relative;
  border-left: none;
  border-radius: 0 4px 4px 0;
  z-index: 1;
}
.elf .input-append input {
  border-radius: 4px 0 0 4px;
}
.elf .input-prepend span {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.elf .input-prepend input {
  border-radius: 0 4px 4px 0;
}
.elf .btn-append {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.elf .btn-append input {
  width: 100%;
  border-radius: 4px 0 0 4px;
}
.elf .btn-append button,
.elf .btn-append .btn {
  flex: 1;
  font-size: 1.2rem;
  border-radius: 0 4px 4px 0;
}
/*
 * Typography
 */
.elf h1 {
  font-size: 3rem;
  font-weight: bold;
}
.elf h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.elf h3 {
  font-size: 2rem;
  font-weight: bold;
}
.elf h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.elf h5 {
  font-size: 1rem;
  font-weight: bold;
}
.elf h6 {
  font-size: 0.7rem;
  font-weight: bold;
}
