#elf-cover {
    /*background: #333;*/
    /*background: url('../images/ice-forest.jpg') no-repeat;
    background-size: cover;*/
    position: relative;
    overflow: hidden;
}
#elf-cover .background {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 110%;
    width: 110%;
    background: url('../images/ice-forest.min.jpg') no-repeat;
    background-size: cover;
    z-index: 0;
}
#elf-cover .layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 1;
}
#elf-cover .content {
    position: relative;
    padding: 2rem;
    z-index: 2;
}
#elf-cover .elf-logo img {
    width: 40%;
    height: 40%;
}
#elf-cover .elf-slogan {
    color: #fff;
    text-align: center;
}
#elf-cover .download-btns .btn {
    margin-right: 1rem;
    text-decoration: none;
}
#elf-cover .links {
    margin-top: 2.5rem;
}
#elf-cover .links a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

#elf-cover .links a i{
    margin-right: .5rem;
}


.elf-intro {
    padding: 2rem;
}
.elf-intro .content-wrapper {
    width: 100%;
}
.elf-intro:nth-child(odd) {
    background: #eee;
}
.elf-intro h1 {
    text-align: center;
}
.elf-intro .crx-line {
    width: 6rem;
    border-width: 0;
    border-top: 2px solid #333;
}
.elf-intro .img-box {
    text-align: center;
}
.elf-intro .img-box img {
    width: 80%;
    min-width: 300px;
    margin: 2rem 0;
}
.elf-intro .description {
    text-align: center;
    font-size: 1.2rem;
}
.elf-intro .example {
    margin: 4rem 0;
}
.elf-intro .example .row {
    background: rgba(255,255,255,.5);
}
.elf-intro .example .row div {
    height: 2.5rem;
    line-height: 2.5rem;
    background: #bbb;
    text-align: center;
}
.elf-intro .title {
    visibility: hidden;
}

#elf-intro-3 .part-desc-box {
    padding: 2rem 3rem;
}
#elf-intro-3 i {
    margin: 2rem 0;
    font-size: 8rem;
}
#elf-intro-3 p {
    text-align: left;
}


#elf-intro-4 .content-wrapper {
    text-align: center;
}
#elf-intro-4 .content-wrapper .description {
    margin: 2rem 0;
}

footer {
    padding: 0 2rem;
    background-color: #333;
    text-align: right;
    color: #fff;
    overflow: hidden;
}
footer a {
    color: #fff;
}

html::-webkit-scrollbar {
    display: block;
    width: 10px;
    background: #eee;
}
html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #bbb;
}
html::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}